<div class="">
  <div class="container">
    <div class="row"> 
      <div class="col-sm-3">  
        <img src="../../../../assets/default-user-image.png" height="200px" width="200px" class="rounded float-left" alt="...">
      </div>
      <div class="col-sm-9 user-info">
        <form>
          <div class="form-group row">
            <label for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="Name" value="Someone">
            </div>
          </div>
          <div class="form-group row">
            <label for="Designation" class="col-sm-2 col-form-label">Designation</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="Designation" value="Something">
            </div>
          </div>
          <div class="form-group row">
            <label for="Role" class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="Role" value="Something">
            </div>
          </div>
          <div class="form-group row">
            <label for="Country" class="col-sm-2 col-form-label">Country</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="Country" value="US">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>