<div class="container-fluid">
  <div class="card-header text-white text-right bg-primary"> <i class="fa fa-list show-list"></i>&nbsp;<i class="fa fa-th show-card active"></i></div>
  <div class="card-body">
  <div class="container-fluid display-card">
    <div class="row">
      <div class="col-sm-4">
        <app-contact-card></app-contact-card>
      </div>
      <div class="col-sm-4">
        <app-contact-card></app-contact-card>
      </div>
      <div class="col-sm-4">
        <app-contact-card></app-contact-card>
      </div>
    </div>
  </div>
  <div class="container-fluid display-list" style="display:none;">  
    <ul class="list-group list-group-flush">
      <app-contact-list-item></app-contact-list-item>
      <app-contact-list-item></app-contact-list-item>
      <app-contact-list-item></app-contact-list-item>
    </ul>
  </div>
</div>
</div>