<div class="card">
  <div class="card-body">
    <h5 class="card-title">Open Activities</h5>
    <h6 class="card-subtitle mb-2 text-muted">List of open activities</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fa fa-check text-success"></i>Run Tracker 1</li>
      <li class="list-group-item"><i class="fa fa-circle-o-notch text-primary"></i> Tracker 2</li>
      <li class="list-group-item"><i class="fa fa-exclamation-triangle text-danger"></i> Tracker 3</li>
    </ul>
  </div>
</div>