<div class="card border border-primary">
  <div class="card-header text-white bg-primary">Name <a class="edit" routerLink="/users/add"><i class="fa fa-edit"></i> </a></div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <img src="../../../assets/default-user-image.png" height="80px" width="80px" class="rounded float-left" alt="...">
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-4">Name</div>
            <div class="col-sm-8">Avinash Kumar Singh</div>
          </div>
          <div class="row">
            <div class="col-sm-4">Designation</div>
            <div class="col-sm-8">Something</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>