<div class="menu wrapper">
  <div class="main_sidebar">
    <ul>
      <li class="toggle-menu" ><a routerLink="/"><i class="fa fa-home"></i></a></li>
      <li data-toggle="item1"><i class="fa fa-folder"></i></li>
      <li data-toggle="item2"><i class="fa fa-cubes"></i></li>
      <li data-toggle="item3"><i class="fa fa-archive"></i></li>
      <li data-toggle="item3"><i class="fa fa-circle"></i></li>
      <li data-toggle="item4"><i class="fa fa-crosshairs"></i></li>
      <li data-toggle="item5"><i class="fa fa-deaf"></i></li>
      <li data-toggle="item6"><i class="fa fa-gears"></i></li>
      <li data-toggle="item7"><i class="fa fa-user-circle-o"></i></li>

    </ul>
  </div>
  
  <div id='item2' class="sub_sidebar">
    <ul>
      <li><a href="#">&nbsp;</a></li>
      <li><a href="#">Workflows</a></li>
      <li><a href="#">bell</a></li>
    </ul>
  </div>
  <div id='item3' class="sub_sidebar">
    <ul>
      <li><a href="#">&nbsp;</a></li>
      <li><a href="#">Something</a></li>
      <li><a href="#">bell</a></li>
    </ul>
  </div>
  <div id='item1' class="sub_sidebar">
    <ul>
      <li><a routerLink="/modules">Modules</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/reports">Reports</a></li>
    </ul>
  </div>
  <div id='item7' class="sub_sidebar">
    <ul>
      <li>&nbsp;</li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/users">Users</a></li>
    </ul>
  </div>
  <div id='item6' class="sub_sidebar">
    <ul>
      <li>&nbsp;</li>
      <li><a routerLink="/settings">Settings</a></li>
    </ul>
  </div>
</div>